<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новый ребёнок</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">

    <div class="btn-group mb-3" role="group">
        <a href="{% url 'home_page' %}" class="btn btn-primary">Вернуться на главную</a>
    </div>

    <h1>Новый ребёнок</h1>

    <form method="POST" class="post-form">{% csrf_token %}
        <div class="form-group">
            <label for="id_name">ФИО ребёнка:</label>
            <input type="text" id="id_name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="id_paid_training_count">Кол-во оплаченных занятий:</label>
            <input type="number" id="id_paid_training_count" name="paid_training_count" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>