<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обновить данные тренера</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="btn-group mb-3" role="group">
            <a href="{% url 'home_page' %}" class="btn btn-primary">Вернуться на главную</a>
        </div>

        <h2>Изменить данные тренера</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_child">Выберите тренера:</label>
                {{ form.trainer }}
            </div>
            <div class="form-group">
                <label for="id_new_name">Введите новое имя + фамилию (необязательно)</label>
                {{ form.new_name }}
            </div>
            <div class="form-group">
                <label for="id_new_club">Введите новый клуб (необязательно)</label>
                {{ form.new_club }}
            </div>
            <button type="submit" class="btn btn-primary">Обновить данные</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>